{% extends 'base.html.twig' %}


{% block body %}
<div class="hero-scene text-center text-white">
    <div class="hero-scene-content">
        <p>ENSEMBLE VERS UNE BEAUTÉ PLUS DURABLE CHEZ</p>
        <h1>Gephora</h1>
        <button class="btn btn-primary">Je découvre</button>
    </div>
</div>

<section>
    <article>
        <div class="container p-4">
            <h1 class="text-center text-primary">Bienvenue au Gephora</h1>
            <div class="row row-cols-2 align-items-center mt-4 gx-5">
                <div class="col p-2">
                    <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus risus
                        nec ipsum ornare,
                        a tempor diam consequat.
                        Quisque ut imperdiet neque. Aenean nec diam elementum, tempor massa ac, imperdieaugue. Praesent
                        mattis
                        orem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus risus nec ipsum ornare,
                        a tempor diam consequat.
                    </p>
                </div>
                <div class="col p-5">
                    <img class="w-100 rounded image-height" src="../images/article-2.jpg">
                </div>

            </div>
        </div>
    </article>

    <article class="bg-light">
        <div class="container p-4">
            <h1 class="text-center text-primary">Notre Selection</h1>
            <div class="row row-cols-lg-4 row-cols-sm-2 align-items-center mt-4 g-5">
                {% for product in products_notre_selection %}
                    <div class="col text-center">
                        <img src="{{ product.image }}" class="rounded-circle image-size" alt="article 1">
                        <h3 class="text-white">{{ product.title }}</h3>
                        <h4 class="text-primary pb-2">{{ product.price }}$</h4>
                        <button class="btn btn-primary">Découvrir</button>
                    </div>   
                {% endfor %}
            </div>
            <div class="text-end my-3">
                <a href="/notre_selection" class="text-dark">voir tous les produits</a>
            </div>
        </div>
    </article>

    <article>
        <div class="container p-4">
            <h1 class="text-center text-primary">Dernières tendances</h1>
            <div class="row row-cols-lg-4 row-cols-sm-2 align-items-center mt-4 g-5">
                {% for product in products_tendane %}
                    <div class="col text-center">
                        <img src="{{ product.image }}" class="rounded-circle image-size" alt="article 1">
                        <h3 class="text-white">{{ product.title }}</h3>
                        <h4 class="text-primary pb-2">{{ product.price }}$</h4>
                        <button class="btn btn-primary">Découvrir</button>
                    </div>
                {% endfor %}
            </div>
            <div class="text-end my-3">
                <a href="/" class="text-primary">voir tous les produits</a>
            </div>
        </div>
    </article>

    <article class="bg-light">
        <div class="container p-4">
            <h1 class="text-center text-primary">Offre fidélité</h1>
            <div class="row row-cols-lg-4 row-cols-sm-2 align-items-center mt-4 g-5">
                {% for product in products_offre %}
                    <div class="col text-center">
                        <img src="{{ product.image }}" class="rounded-circle image-size" alt="article 1">
                        <h3 class="text-white">{{ product.title }}</h3>
                        <h4 class="text-primary pb-2">Prix d'origine : <span
                                class="text-decoration-line-through">135,00€</span> <strog>-25%</strog>
                        </h4>
                        <button class="btn btn-primary">Découvrir</button>
                    </div>
                {% endfor %}
            </div>
            <div class="text-end my-3">
                <a href="/" class="text-dark">voir tous les produits</a>
            </div>
        </div>
    </article>
</section>
{% endblock %}
